<div class="d-flex">


<app-shared></app-shared>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscando Gifs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eius dolorum ipsum iste accusamus iure labore reprehenderit. Ex sint magni distinctio quidem doloremque, repudiandae asperiores odio qui illo. Beatae, libero.
      </div>
    </div>
  </div>


</div>